:root {
  --pastel-mint: #2BB6A3; /* Light mint green */
  --pastel-cream: #37615B; /* Soft cream */
  --pastel-pink: #0FE0C4; /* Gentle pink */
  --pastel-blue: #388B80; /* Muted blue */
  --pastel-blue: #283634 /* Muted blue */
}

body {

  background-color: var(--pastel-blue);
}

.background-mid {
  width: 100%;
  height: 13px;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: -1;
  background-color: var(--pastel-mint);
  display: none;
}

.background-light {
  width: 100%;
  height: 13px;
  position: absolute;
  bottom: 60px;
  left: 0;
  z-index: -1;
  background-color: var(--pastel-cream);
}

.main-canvas {
  position: fixed;
  bottom: 20px;
  left: 0;
  z-index: -1;
}


.pedals-wrapper {
  padding-top: 30px;

  svg { 
    margin-right: 10px;
  }
}
